*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


.parent {
    background-size: cover;
    background-image: url('../images/bee2.png');
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 100vh;
    width: auto;
}

.leftpart{
    width: 750px;
}

.leftpart h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    margin-bottom: 30px;
    margin-top: -70px;
    color: #fff;
}

.leftpart h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #fff;
}

/*------------------------------------ RIGHT PART ------------------------------------*/
.rightpart{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 500px;
    background: #fff;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #fecd08;
    font-size: 36px;
    font-weight: 700;
}

.underline{
    width: 55px;
    height: 2px;
    background:#fecd08;
}

.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 50px;
    background: #eaeaea;
}

.icon{
    margin: 0px 20px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 17px;
}

.forgot-password{
    padding-left: 55px;
    margin-top: 15px;
    color: #797979;
    font-size: 14px;
}

.forgot-password span{
    color: #fecd08;
    cursor: pointer;
}


.submit-container{
    display: flex;
    gap: 25px;
    margin: 40px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    color: #fff;
    background: #fecd08;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #EAEAEA;
    color: #676767;
}



/*------------------------------------------------------------------------*/

.submit:active{
    background: #f8df7c;
}